@font-face {
  font-family: 'pixelFont';
  src: url("pixelFont.ttf");
  font-wight: normal;
}
body {
  background-repeat: no-repeat;
  background-position: center;
  background-size:100% 80%;
  background-color: black;
  font-family: pixelFont;

}
.index {
  height:80%;
}
h1 {
  color: #0E1116;
  font-family: pixelFont;
  font-size:30px;
}
canvas {
  background-color: white;
}
canvas:hover {

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  cursor: pointer;
}

form {
  padding: 100px;
  text-align: center;
}
.container{
  border-style:solid;
  padding:50px;
  width:80%;
  height:80%;
}
.invalid{
  color: red;
}
.formText{
  font-size:25px;
  color:#0E103D;
}
.formBox{
  background-color: #A5668B;
  opacity:0.95;
}

.myButton {
	background-color:#69306d;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #f2d7ee;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7640a8;
}
.myButton:hover {
	background-color:#0E103D;
}
.myButton:active {
	position:relative;
	top:1px;
}
.myBody {
  background-color: #FAE3C6;
}
