<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta HTTP-EQUIV="EXPIRES" CONTENT="-1">
		<title>Computing Science 309</title>
		<style>
		</style>
    <link rel="stylesheet" href="style.css">
    <script language="javascript" src="singlepage.js" > </script>
	</head>
	<body onload="loadDoc()">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="./game">FortNite Game</a></li>
      <li><a href="./login">Login</a></li>
      <li><a href="./registration">Register</a></li>
      <li><a href="/stats">Stats</a></li>
    </ul>
		<center>
			<h1>Welcome to the CSC309 A2 page! Made with Node.JS and Javascript</h1>
		</center>

    <p id="screen"></p>
	</body>
</html>
