<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta HTTP-EQUIV="EXPIRES" CONTENT="-1">
		<title>Computing Science 309</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body >
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="./game">FortNite Game</a></li>
			<li><a href="./login">Login</a></li>
			<li><a href="./registration">Register</a></li>
			<li><a href="/stats">Stats</a></li>
		</ul>
		<center>
      <form action="/registration" method="post">
        <div class="container">
          <h1>Register</h1>
          <p>Please fill in this form to create an account.</p>
          <hr>

          <label for="name"><b>Name</b></label>
          <input type="text" placeholder="Enter username" name="name" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <label for="email"><b>Email</b></label>
          <input type="email" placeholder="Email" name="email" required>
          <hr>

          <button type="submit" class="registerbtn">Register</button>
        </div>
      </form>

		</center>
	</body>
</html>
